/* 반응형 웹 css 라이브러리 다운로드 > import */
@import "tailwindcss";

/* body 전체 '기본설정' 적용 */
body {
  font-family: 'TAEYEON', sans-serif; /* 폰트 : 태연 */
}

/* 다운로드한 로컬 폰트 등록 --------------  */

/* 1. 나름 또박또박한 일반 폰트 */
@font-face {
  font-family: 'SSRONET';
  src: url('./assets/SSRONET_Handwritten.ttf') format('truetype');
}

/* 2. 삐뚤한데 굵은 폰트 */
@font-face {
    font-family: 'KimBClass'; /* 코드에서 불러올 폰트 별명(자유) / 영어만 사용 가능 한 폰트 */
    src: url('./assets/[KIM]B_ENG-BOLD.ttf') format('truetype'); /* 실제 파일 경로 */
}

/* 3. 삐뚤한데 안에 색상이 비워진 폰트 */
@font-face {
    font-family: 'MallangW'; /* 코드에서 불러올 폰트 별명(자유) / 영어만 사용 가능 한 폰트 */
    src: url('./assets/Ok_Mallang_W.ttf') format('truetype'); /* 실제 파일 경로 */
}

/* 4. 태연 폰트 */
@font-face {
    font-family: 'TAEYEON'; /* 코드에서 불러올 폰트 별명(자유) / 영어만 사용 가능 한 폰트 */
    src: url('./assets/Griun_NoltoTAENGGU-Rg.ttf') format('truetype'); /* 실제 파일 경로 */
}

/* ------------------------------------- */